@model Proyecto_MVC.Models.Tb_asiento

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalles</h2>

<div>
    <h4>Asiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.letra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.letra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idAsiento }) |
    @Html.ActionLink("Volver", "Index")
</p>
