@model IEnumerable<Proyecto_MVC.Models.Tb_pago>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Mantenimiento de Pagos</h2>

<p>
    @Html.ActionLink("Crear Pago", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_comprobante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.num_comprobante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.medio_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_pasajero.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_reserva.observaciones)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo_comprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_comprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medio_pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Modificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.est)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tb_pasajero.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tb_reserva.observaciones)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idPago }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idPago }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idPago })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>