@model Proyecto_MVC.Models.Tb_departamento

@{
    ViewBag.Title = "Delete";
}
<br />
<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
