@model IEnumerable<Proyecto_MVC.Models.Tb_departamento>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Mantenimiento de Departamentos</h2>

<p>
    @Html.ActionLink("Crear Departamento", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.F_Registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Modificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.est)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_departamento }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.id_departamento }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_departamento })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>