@model IEnumerable<Proyecto_MVC.Models.Tb_Destino>

@{
    ViewBag.Title = "Index";
}
<br />

<h2>Mantenimiento de Destinos</h2>

<p>
    @Html.ActionLink("Crear Destino", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.F_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.est)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tb_aeropuerto.nombre)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F_Registro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Modificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.est)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tb_aeropuerto.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.idDestino }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.idDestino }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.idDestino })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Volver", "Mantenimiento", "Home")
</div>
