@model Proyecto_MVC.Models.Tb_aerolinea

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalles</h2>

<div>
    <h4>Aerolinea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>

            @Html.DisplayNameFor(model => model.ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_Modificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_Modificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.est)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.est)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idAerolinea }) |
    @Html.ActionLink("Volver", "Index")
</p>
